<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <!-- 必须的 meta 标签 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <title>Panda E-Books - {% block title_block %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/bootstrap/css/base.css">
    </head>
    <body>
            <div class="topnav">
                <div><a  href="{% url 'panda:homepage' %}">Panda E-Books</a></div>
                <div><a class="nav-link" href="{% url 'panda:homepage' %}">Home </a></div>
                <div><a class="nav-link" href="{% url 'panda:homepage' %}">About </a></div>
               
                <div><form class="topsearch">                
                    <input placeholder="please enter the category to search">
                    <button  type="submit" >Search</button>
                </form></div>
            
                    {% if user.is_authenticated %}
                    <div><a href="{% url 'panda:profile' user.username %}">{{user.username}}'profile</a></div>
                    <div><a href="{% url 'panda:add_category' %}">Add Category</a></div>
                    <div><a href="{% url 'auth_logout' %}?next={% url 'panda:homepage' %}" >Logout</a></div>
                {% else %}
                <div><a  href="{% url 'auth_login' %}">login</a></div>
                <div><a  href="{% url 'registration_register' %}">sign up</a></div>
                {% endif %}  
            </div>
            {% block main_block %}            
           {% endblock %}
           <div class="footer">
            <p>&copy; 2021 CodePandas </p><br/>
            <p><a href="#top"  class="backtotop">Back to top</a></p>
          </div>
          
        <script src="/static/bootstrap/js/jquery-3.3.1.slim.min.js" ></script>
  
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>