<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <!-- 必须的 meta 标签 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        
        <link rel="stylesheet" href="/static/css_js/css/bootstrap.min.css">
        <title>Panda E-Books  {% block title_block %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css_js/css/base.css">
    </head>
    <body>
            <div class="topnav">
                <div class="barTitile"><a  href="{% url 'panda:homepage' %}">Panda E-Books</a></div>
                <div><a class="nav-link" href="{% url 'panda:homepage' %}">Home </a></div>
                <div><a class="nav-link" href="{% url 'panda:homepage' %}">About </a></div>
               
                <div class="topsearch"> 
                    <form role="search" method="get" id="searchform" action="{% url 'panda:search' %}">
                        {% csrf_token %}
                        <input type="search" name="q" placeholder="Search" required>
                        <button type="submit">search</button>
                    </form>
                </div>
            
                {% if user.is_authenticated %}
                    <a href="{% url 'panda:profile' user.username %}">{{user.username}}'profile</a>
                    <a href="{% url 'panda:add_category' %}">Add Category</a>
                    <a href="{% url 'auth_logout' %}?next={% url 'panda:homepage' %}" >Logout</a>
                {% else %}
                <a  href="{% url 'auth_login' %}">login</a>
                <a  href="{% url 'registration_register' %}">sign up</a>
                {% endif %}
            </div>
            {% block main_block %}            
           {% endblock %}
           <div class="footer">
            <p>&copy; 2021 CodePandas </p><br/>
            <p><a href="#top"  class="backtotop">Back to top</a></p>
          </div>
          
        <script src="/static/css_js/js/jquery-3.3.1.slim.min.js" ></script>
  
        <script src="/static/css_js/js/bootstrap.min.js"></script>
    </body>
</html>