{% extends 'panda/base.html' %}
{% load staticfiles %}

{% block main_block %} 
    <div class="container-fluid">
        {{book.name}}
    </div>      
    <div class="container-fluid">
        {{book.description}}
    </div>
    <div class="container-fluid">
        {{book.likes}}
    </div>
    <div class="container-fluid">
        {{book.comments}}
    </div>
    <div class="container-fluid">
        <form >
            <input class="search" placeholder="comments" >
            <button class="btn" type="submit" style="color: rgb(22, 22, 20);height: 100px; ">Submit</button>
        </form> </ul>  
    </div>

    <form  method="post">
        {% csrf_token %}
        <p style="text-align:center">content：<input type="text" name="content" /></p>
        <p style="text-align:center"><input type="submit" value="提交" />
</form>
{% endblock %}