{% extends 'panda/base.html' %}
{% load staticfiles %}

{% block main_block %} 
<div class="card">
    <h1>{{book.name}}</h1>
    
</div>
<div class="card">
    <div class="row">
        <div class="l_column">
            <img src="{{book.photo_url}}" width="100%">
        </div>
        <div class="r_column">     
            <p class="description">Description:{{book.description}}</p>
            <p class="views1">views:{{book.views}} &nbsp; likes:{{book.likes}} &nbsp; Rating:{{book.rating}}</p>    
            {% if user.is_authenticated %}
            <input class="readbook" type="button" value="read this book">  
            <input class="readbook" type="button" value="add the book as favorite">   
            {% endif %}
        </div>
    </div>
</div>
<!-- {% if book.comments %}
<div class="card">
    <p>Following are comments for this book</p>
{{book.comments}}
</div>
{% endif %} -->

<div class="card">
    <h3>Comments</h3>
{% if comments %}
    {% for comment in comments %} 
    <div class="description" style="font-size: 20px;">{{comment.user}}:</br>{{comment.content}}</br></div>       
    {% endfor %}
{% endif %}
</div>
  
<a  href="{% url 'panda:add_comments' book.slug %}" style="padding-left: 45%;font-size: 25px;"><input class="readbook" type="button" value=" Add Comments"></a> 


     <div>

        <fieldset class="search">

            <input type="radio" id="rate_1_0_1_5" name="starLevel" value="5" /> 

            <label for="rate_1_0_1_5" title="5 stars"></label>

            <input type="radio" id="rate_1_0_1_4" name="starLevel" value="4" /> 

            <label for="rate_1_0_1_4" title="4 stars"></label>

            <input type="radio" id="rate_1_0_1_3" name="starLevel" value="3" /> 

            <label for="rate_1_0_1_3" title="3 stars"></label>

            <input type="radio" id="rate_1_0_1_2" name="starLevel" value="2" /> 

            <label for="rate_1_0_1_2" title="2 stars"></label>

            <input type="radio" id="rate_1_0_1_1" name="starLevel" value="1" /> 

            <label for="rate_1_0_1_1" title="1 star"></label>

            <button type="button">Submit</button>

       </fieldset>

       <span style="font-size: 2rem;line-height: 2.9rem;padding: 1rem;font-style: oblique;" id="starStr"></span>

     </div>
{% endblock %}