{% extends 'panda/base.html' %}
{% load staticfiles %}

{% block main_block %} 
    <div class="container-fluid">
        {{book.name}}
    </div>      
    <div class="container-fluid">
        {{book.description}}
    </div>
    <div class="container-fluid">
        {{book.likes}}
    </div>
    <div class="container-fluid">
        {{book.comments}}
    </div>
    <div class="container-fluid">
        <form >
            <input class="search" placeholder="comments" >
            <button class="btn" type="submit" style="color: rgb(22, 22, 20);height: 100px; ">Submit</button>
        </form> </ul>  
    </div>

    <form  method="post">
        {% csrf_token %}
        <p style="text-align:center">content：<input type="text" name="content" /></p>
        <p style="text-align:center"><input type="submit" value="提交" />
</form>

<input name="starNum" id="starNum" type="hidden"/>

     <div>

        <fieldset class="search">

            <input type="radio" id="rate_1_0_1_5" name="starLevel" value="5" /> 

            <label for="rate_1_0_1_5" title="5 stars"></label>

            <input type="radio" id="rate_1_0_1_4" name="starLevel" value="4" /> 

            <label for="rate_1_0_1_4" title="4 stars"></label>

            <input type="radio" id="rate_1_0_1_3" name="starLevel" value="3" /> 

            <label for="rate_1_0_1_3" title="3 stars"></label>

            <input type="radio" id="rate_1_0_1_2" name="starLevel" value="2" /> 

            <label for="rate_1_0_1_2" title="2 stars"></label>

            <input type="radio" id="rate_1_0_1_1" name="starLevel" value="1" /> 

            <label for="rate_1_0_1_1" title="1 star"></label>

            <button class="btn" type="submit" style="color: rgb(22, 22, 20);height: 100px; ">Submit</button>

       </fieldset>

       <span style="font-size: 2rem;line-height: 2.9rem;padding: 1rem;font-style: oblique;" id="starStr"></span>

     </div>
{% endblock %}