{% extends 'panda/base.html' %}
{% load staticfiles %}

{% block main_block %} 

    <div class="card">
        <h1>{{category.name}}</h1>    
    </div>
    <div class="card">
        <h2><a href="{% url 'panda:add_book' category.slug %}">Add Book</a></h2>
    </div>
    
    {% if books %}
    {% for book in books %}
    <div class="card">
        <div class="row">
            <div class="l_column">
                <img src="{{book.photo_url}}" width="100%">
            </div>
            <div class="r_column">
                <a class="nav-link" href="{% url 'panda:show_book' book.slug %}"><h3>{{book.name}}</h3></a>
                
                <div class="description"><p>Description:{{book.description}}</p></div>
                
                <div class="view"><p>views:{{book.views}} &nbsp; likes:{{book.likes}}</p> </div>          
               
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}       

{% endblock %}